body {
  margin: 1em;
  background: #333;
  color: #ccc;
  font: normal 3vw/1 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  color: #0ce3ac;
  font-size: 4rem;
  white-space:nowrap;
}