@import "jeet"
@import "bootstrap/normalize.styl";
@import url('https://fonts.googleapis.com/css?family=Dosis:300');
.app
  align(both)
  width:100vmin
  height:100vmin
  background-size contain
  background-repeat no-repeat
  &-card
    display: inline-block;
    width:calc(33% - 10px)
    margin:5px;
  &-button
    display:block;
    width:100%;
    border:1px solid white;
    border-radius: 5px
    background: #eee
    color: #000
    padding:5px;
    text-align: center;
    margin:5px;

  &-headline
    color white
    font-family: 'Dosis', sans-serif
    text-align center


.copyright
  font-family: 'Dosis', sans-serif
  color:white;
  position:absolute;
  bottom:0;
  right:0;